.user-card {
  height: 10rem;
  width: 25rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1.5rem;
  color: white;
  background-color: #2a323c;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.img-container {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  overflow: hidden;
}
.avatar {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
