* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  user-select: none;
}

#root,
.home {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}
section {
  overflow: hidden;
  display: grid;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 4rem;
}
.no-results {
  position: absolute;
  height: 80%;
  top: 20%;
  left: 50%;
  width: 100%;
  transform: translate(-50%);
  font-size: larger;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.no-results > img {
  height: 10rem;
}

.user-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
}

.featured-users,
.user-groups {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: center;
  margin-bottom: 2rem;
}

hr {
  width: 100%;
  border: none;
  border-top: 1px solid #ccc;
  margin: 2rem 0;
}
.spinner {
  height: 5rem;
  width: 5rem;
}
@media (min-width: 655px) and (max-width: 1024px) {
  section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) and (max-width: 1340px) {
  section {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1340px) {
  section {
    grid-template-columns: repeat(4, 1fr);
  }
}
